* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.click{
  position: absolute;
  left: 90%;
  top: 90%;
  transform: translate(-70%, -70%);
}

.btn{
  padding: 9px 10px 5px;
  border-radius: 10px;
  background-color: #ffd699;
  box-shadow: 2px 4px 8px #888888;
  font-size: 14px;
  width: max-content;
  cursor: pointer;
}

.name{
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}







.x {
	/* position: relative; */
	width: 23px;
	height: 23px;
	border: 2px solid black;
	background-color: #ff5248;
	border-radius: 50%;
  bottom: 60px;
  right: 40px;
  z-index: 1;
  padding: 5px;
	}
.x::before, .x::after {
  position: absolute;
	top: 10px;
	left: 5px;
	width: 13px;
	height: 3px;
	content: "";
	background-color: black;
	display: none;
	}
.x::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
.x::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}
.x:hover { cursor: pointer; }
.x:hover::before, .x:hover::after { display: block; }












@media screen and (max-width: 815px) {
  .btn{
    font-size: 18px;
  }
}

@media screen and (max-width: 380px) {
  .name{
    font-size: 25px;
    
  }
}

@media screen and (max-width: 320px) {
  .name{
    font-size: 20px;
    
  }
}



